
.icon-link:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */