* {
    box-sizing: border-box;
}
header {
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	height: 600px;
	margin-bottom: 2em;
    display: flex;
    align-items: flex-end;
}
header #links {
    padding: 50px;
}
