* {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    background: #171e26;
    color: #a5a3a4;

}

header #links {
    padding: 50px;
}


.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.projects {
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.project-description {
    margin-right: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about {
    width: 80%
}

h1 {
    font-family:'Shrikhand', Georgia, serif;
    font-size: 110px;
    color: #eb7b5b;
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    color: #cc992c;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech {
    margin: 1em;
    flex: 0 0 30px;
}

.tech img {
    width: 100%;
    height: auto:
}

/*Tablet Screens*/

@media all and (min-width: 668px) {
    .projects {
        width: 90%;
        margin-bottom: 50px;
        align-items: flex-start;
    }
    .project-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    h2 {
        font-size: 18px;
    }
    .thumbnail img {
        max-width: 250px;
        max-height: 180px;
        width: auto;
        height: auto;
    }
}

/* Desktop */

@media all and (min-width: 900px) {
    .project-container {
        margin-bottom: 40px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .projects {
        width: 80%;
        margin: 0 auto;
    }
    .thumbnail img {
        max-width: 350px;
        max-height: 280px;
        width: auto;
        height: auto;
    }
    .project-description {
        align-items: left;
        width: 100%;
        font-size: 18px;
    }

    h2 {
        font-size: 32px;
    }
}

/*linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6))*/
