* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;

}

/*---------------
   Headers & Text
-----------------*/
h1,
h2,
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-weight: 300;
  line-height: 1.8em;
  color: rgba(255,255,255,0.8);
  margin: 0;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #2EC4B6;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid #2EC4B6;
}

/*---------------
   HERO SECTION
-----------------*/

canvas {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.wrapper {
  background: linear-gradient(
    rgba(48, 53, 70, 0.5),
    rgba(48, 53, 70, 0.5)),
    url(../images/hero-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}


.open {

  position: fixed;
  font-size: 200%;
  float: left;
  margin: 1em 0 0 1em;
  display: block;
  cursor: pointer;
}

.nav {
  width: 0;
  overflow-x: hidden;
  text-align: center;
  height: 100vh;
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.7s;
  display: block;
}

.nav a {
  clear: left;
  color: #fff;
  font-size: 175%;
  display: block;
  text-decoration: none;
  padding: 1em 0;
  transition: 0.45s;
}

.close {
  float: left;
  margin: 1em 0 0 1em;
}

.nav a:not(:first-child):hover {
  background-color: #2EC4B6;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-content{
  text-align: center;
  max-width: 80%;
}

.hero-content h1 {
  font-size: 350%;
  font-weight: 500;
  letter-spacing: 7px;

}

.hero-content p {
  font-size: 120%;
  max-width: 75%;;
  margin: 1em auto;
}

/*---------------
   Projects Title
-----------------*/

.section-title {
  min-height: 100px;
  background-color: #2EC4B6;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.section-title:focus {
  outline: none;
}

.section-title h2 {
  font-size: 250%;
  font-weight: 500;
  letter-spacing: 7px;
}

/*------------------
   Projects Section
--------------------*/

.project-wrapper {
  background: black;
}
.project-wrapper>h2 {
  text-align: center;
  padding-top: 25px;
}

.project-wrapper:nth-child(even) {
  background-color: #2EC4B6;

}

.project-wrapper:nth-child(odd) .project-features {
  margin-left: 20px;
}

.project-wrapper:nth-child(even) .project-features {
  margin-right: 20px;
}

.project {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 65px 0px;
  max-width: 70%;

}

.card {
  flex: 2 0 300px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #1D1D1D;
}

.card-img img {
  width: 100%;
  height: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
}

.card-links {
  margin: 10px; 0;
}

.card-links a {
  border-bottom: none;
}

.card-icon {
  font-size: 200%;
  padding: 0 10px;
  color: #fff;
  transition: 0.35s;
}

.card-icon:hover {
  color: #2EC4B6;
}

.card-stack {
  margin-top: 0;
  font-size: 75%;
  font-weight: 100;
  color: #2EC4B6;
}

.project-features {
  text-align: justify;
  font-size: 85%;
  flex-grow: 3;
}

.light {
  flex-direction: row-reverse;
}

/*------------------
   About Section
--------------------*/

#about-title {
  background-color: #000;
}

.about-section {
  min-height: 100vh;
  background: linear-gradient(
    rgba(18, 53, 70, 0.80),
    rgba(18, 53, 70, 0.80)),
    url(../images/trees-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.);
}

.about-container {
  margin: 0 auto;
  width: 60%;
  max-width: 850px;
  padding: 10% 0;
}

.about-text {
  font-size: 115%;
  font-weight: 100;
  text-align: justify;

}

/*------------------
  Contact Section
--------------------*/

.contact-container {
  margin: 0 auto;
  padding-bottom: 15%;
  width: 60%;
  max-width: 850px;
  display: flex;
  justify-content: space-around;
}

.contact-container:focus {
  outline: none;
}

.contact-details span {
  color: #2EC4B6;
}

.contact-icons {

}

.contact-icons a:link,
.contact-icons a:visited {
  transition: border-bottom 5.5s, color 0.6s;
}

.contact-icons a:active,
.contact-icons a:hover {
  border-bottom: none;
}

.contact-icon {
  font-size: 300%;
}

.contact-icons a:not(:last-child) {
  margin-right: 25px;
}


/*------------------
  MEDIA QUERIES
--------------------*/

@media only screen and (max-width: 450px) {

  .hero-content h1 {
    font-size: 200%;
  }

  .hero-content p {
    font-size: 90%;
    max-width: 100%;;
    margin: 1em auto;
  }

  .project {
    flex-direction: column;
    max-width: 90%;
  }

  .card {
    margin-bottom: 25px;
  }

  .project-wrapper:nth-child(odd) .project-features {
    margin-left: 0;
  }

  .project-wrapper:nth-child(even) .project-features {
    margin-right: 0;
  }


  .project-features h2 {
    text-align: center;
    margin-bottom: 25px;
  }

  .about-container {
    width: 85%;
  }

  .about-text {
    font-size: 90%;
  }

  .contact-container {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact-icons {
    width: 85%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  .contact-icon {
    margin: 0 auto;
  }

}

@media only screen and (max-width: 700px) {

  .hero-content h1 {
    font-size: 200%;
  }

  .hero-content p {
    font-size: 105%;
  }

  .project {
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
  }

  .card {
    max-width: 65%;
    margin: 25px;
    align-self: center;

  }

  .project-features h2 {
    text-align: center;
    margin-bottom: 25px;
  }

}
